---
import Layout from "../layouts/Layout.astro";

import AboutMe from "@/components/About.astro";
import Badge from "@/components/Badge.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SliderTech from "@/components/SliderTech.astro";
import SocialPill from "@/components/SocialPill.astro";

import BriefCase from "@/components/icons/BriefCase.astro";
import Code from "@/components/icons/Code.astro";
import Contact from "@/components/Contact.astro";
import Curriculum from "@/components/icons/Curriculum.astro";
import Github from "@/components/icons/Github.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import Mail from "@/components/icons/Mail.astro";
import Profile from "@/components/icons/Profile.astro";
---

<Layout
  title='Portfolio de Mauricio Vélez - Full Stack Web Developer'
  description='Mauricio Vélez es un full stack web developer con experiencia en desarrollo full stack con con pasión por el back-end. Especializado en crear aplicaciones de gran calidad.'>
  <main>
    <SectionContainer class='mt-64'>
      <h1 class='text-white text-3xl font-bold flex flex-row gap-x-4 pb-8'>
        Hola, soy Mauricio <a
          href='https://www.linkedin.com/in/mauricio-velez-solis/'
          target='_blank'
          rel='noopener'
          class='flex justify-center items-center'
          ><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class='text-[18px]'>
        <span class='text-fuchsia-400'>Desarrollador full stack web.</span>
        <span class='text-zinc-100'
          >Soy un Desarrollador Web que encuentra alegría en la tecnología y en
          construir soluciones que impacten positivamente. Mi curiosidad y
          creatividad me llevan a explorar nuevas formas de resolver problemas,
          siempre con un enfoque práctico y autónomo. Me encanta trabajar en
          equipo, aprender de los demás y contribuir con mi conocimiento. Busco
          proyectos que me inspiren y me desafíen a ser mejor, tanto en lo
          técnico como en lo humano.</span
        >
      </h2>

      <nav class='flex gap-x-3 mt-10'>
        <SocialPill href='https://www.linkedin.com/in/mauricio-velez-solis/'>
          <LinkedIn class='size-4' />
          LinkedIn
        </SocialPill>
        <SocialPill href='https://github.com/mevelezs'>
          <Github class='size-4' />
          GitHub
        </SocialPill>
        <SocialPill href='mailto:serketh7@gmail.com'>
          <Mail class='size-5' />
          serketh7@gmail.com
        </SocialPill>
        <SocialPill href='./me.jpeg' download='CV_Mauricio_Vélez'>
          <Curriculum class='size-5' />
          Descargar CV
        </SocialPill>
      </nav>
      <SliderTech />
    </SectionContainer>

    <SectionContainer
      id='experiencia'
      class='py-20 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-00 p-2border-gray-300 p-4 w-full'>
      <h2 class='text-xl font-semibold mb-2 flex gap-x-3'>
        <BriefCase />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer
      id='proyectos'
      class='mt-40 py-20 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-00 p-2border-gray-300 p-4 w-full'>
      <h2 class='text-xl font-semibold mb-10 flex gap-x-3'>
        <Code class='size-7' />
        Proyectos
      </h2>
      <Projects>
        <slot />
      </Projects>
    </SectionContainer>

    <SectionContainer id='sobre-mi' class='mt-40 mb-16 py-20'>
      <h2 class='text-xl font-semibold mb-10 flex gap-x-3'>
        <Profile class='size-6' />
        Sobre Mí
      </h2>
      <AboutMe />
    </SectionContainer>
    <SectionContainer id='contacto' class='mt-20 mb-16 py-20'>
      <h2 class='text-xl font-semibold mb-10 flex gap-x-3'>
        <Mail class='size-6' />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
