<section class="flex gap-x-8 justify-center items-center">
  <div class="[&>p]:mb-4">
    <p>
      ¡Hola! Soy un apasionado desarrollador en constante búsqueda de desafíos
      emocionantes. Mi entusiasmo y dedicación se reflejan tanto en mi trabajo
      en equipo como en mi pasión por la danza. Así como en el baile, encuentro
      que la colaboración en proyectos son la clave para alcanzar resultados
      excepcionales.
    </p>
    <p>
      Mi viaje en el desarrollo web comenzó con curiosidad y determinación, de
      manera similar a cuando me aventuro en una carrera de resistencia. La
      disciplina y la perseverancia que aplico en mis entrenamientos también se
      reflejan en mi compromiso con perfeccionar mis habilidades técnicas.
    </p>
    <p>
      Lo que me impulsa es la pasión por la creación y la posibilidad de
      impactar positivamente en el mundo digital. Al igual que me sumerjo en
      libros que desafían mi pensamiento, cada proyecto web es una oportunidad
      para explorar nuevas ideas y soluciones innovadoras. Estoy emocionado de
      mostrarles mi porfolio, donde podrán ver parte de mi trabajo. ¡Gracias por
      tomarse el tiempo de conocerme!
    </p>
  </div>
  <img class="rounded-full size-56" src="/me.jpeg" alt="">
</section>
