---
import ExperiencieItem from "./ExperiencieItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo 2024 - actualidad",
    title: "Asistente administrativo",
    description:
      "Actualmente, me encargo de la gestión de agendas, coordinación de reuniones y manejo eficiente de documentación, siempre con un enfoque meticuloso en la resolución de problemas y la atención al detalle. Mi dominio de herramientas ofimáticas me permite optimizar procesos y asegurar que cada tarea se realice con la máxima precisión. Estas habilidades administrativas se entrelazan perfectamente con mis conocimientos técnicos, como la gestión de bases de datos y la integración de APIs, permitiéndome abordar proyectos de manera integral, fusionando organización y eficiencia tanto en el aspecto operativo como en el desarrollo tecnológico.",
  },
  {
    date: "Junio 2023",
    title: "Desarrollo de página web con Astro",
    description:
      "Creé un sitio web para un servicio de reparación y mantenimiento de electrodomésticos utilizando Astro, un framework de sitios estáticos. Implementé interactividad y navegación fluida entre las páginas, mejorando la experiencia del usuario. Además, llevé a cabo el deployment en Vercel para garantizar un rendimiento óptimo y escalabilidad.Este proyecto resalta mi capacidad para combinar tecnologías modernas con soluciones efectivas para clientes que requieren servicios de calidad y accesibilidad online.",
  },
  {
    date: "Agosto 2022",
    title: "Techno Trade",
    description:
      "Formé parte del desarrollo de un sitio de comercio electrónico, contribuyendo activamente en la creación del componente principal del backend, específicamente en la gestión de rutas y la integración de una API externa de productos tecnológicos. Utilicé Sequelize para gestionar el almacenamiento de datos en una base de datos PostgreSQL. Además, estuve a cargo del manejo de formularios y del diseño responsive del panel de administración, asegurando una experiencia óptima tanto para los usuarios como para los administradores del sistema. Este proyecto refleja mi habilidad para trabajar con APIs, bases de datos y optimización de interfaces.",
  },
  {
    date: "Septiembre 2022",
    title: "App de actividar tiristica y bandera de países",
    description:
      "Desarrollé una aplicación web de una sola página (SPA) que permite consultar información sobre países, consumiendo una API externa y generando actividades turísticas asociadas a cada uno. El proyecto fue implementado utilizando React para la interfaz de usuario, Redux para la gestión del estado, PostgreSQL como base de datos, Express como framework backend y HTML para la estructura. Para los estilos, utilicé CSS puro. Este proyecto demuestra mi capacidad para integrar tecnologías y construir soluciones completas y funcionales.",
  },
];
---

<ol class='relative border-s border-gray-200 mt-4 ml-3'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-6 ms-4'>
        <ExperiencieItem {...experience} />
      </li>
    ))
  }
</ol>
